body {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.app--wrapper {
    margin: 0 3.5em;
}

/* Form */

.form--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
    border-bottom: 1px solid #d7d9db;
}

.input--form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5em auto;
    gap: 20px;
}

.btn--container,
.btn--container__delete {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.btn--container__delete {
    padding: 1em;
}